<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <div id="contents" style="width:500px; height: 500px; overflow: auto"></div>
    <div>
        <input type="text" id="message">
        <button onclick="sendMessage()">发送</button>
    </div>
    <script>
        //建立websocket连接
        var ws = new WebSocket("ws://172.16.221.225:8000/chat");
        ws.onmessage = function (e) {
            $('#contents').append("<p>"+e.data+"</p>")
        };
        function sendMessage() {
            /*console.log("_____________________")*/
            var message = $('#message').val();
            ws.send(message);
            $('#message').val("");
        }
    </script>
</body>
</html>